---
const { href, text, focus }: Props = Astro.props;

interface Props {
  href: string;
  text: string;
  focus: boolean;
}
---

<li>
  <a
    href={href}
    class:list={[
      "block text-lg font-semibold py-2 pl-3 pr-4 rounded md:bg-transparent md:p-0 md:p-0",
      {
        "text-white bg-secondary-blue-pale md:bg-transparent md:text-primary-1":
          focus,
        "text-gray-600 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary-1":
          !focus,
      },
    ]}
    aria-current="page">{text}</a
  >
</li>
