---
import AboutUs from "@/components/Home/AboutUs.astro";
import WhyChooseUs from "@/components/Home/WhyChooseUs.astro";
import Team from "@/components/Team.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Innovo | About page">
  <div class="mt-44">
    <AboutUs /> 
    <WhyChooseUs />
    <Team />
  </div>
</Layout>
