---
import AboutUs from "@/components/Home/AboutUs.astro";
import Team from "@/components/Team.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Team">
  <div class="mt-44"><AboutUs /> <Team /></div>
</Layout>
