---
import Hero from "@/components/Home/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Intro from "@/components/Home/Intro.astro";
---

<Layout title="Foodicine | Home page">
    <div class=" px-6 sm:px-8 md:px-20 lg:px-28">
        <Hero />
        <Intro />
    </div>
</Layout>
