---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Home/Intro.astro";
import Problem from "@/components/Home/Problem.astro";
import Solution from "@/components/Home/Solution.astro";
import WhyChoose from "../components/Home/WhyChoose.astro";
---

<Layout title="Innovo | Home page">
    <Intro />
    <div class=" flex flex-col items-center w-screen">
      <Problem />
      <Solution />
      <WhyChoose />
    </div>
</Layout>
