---
---

<div class="mx-14 md:mx-20 mb-24">
  <h2 class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-6">
    about us
  </h2>
  <p>
    INNOVO consists of motivated and knowledgeable healthcare professionals who
    have vast experience with:
  </p>
  <br />
  <ul
    class="text-gray-700 text-lg md:text-xllist-disc list-inside list-image-[url(checkmark.svg)]"
  >
    <li class="mb-2">
      Uncovering and validating patient needs and pain points
    </li>
    <li class="mb-2">
      {" "}Conducting research and data analyses / interpretation
    </li>
    <li class="mb-2">
      Applying a healthcare and clinical lens to inform or validate the
      company's business strategy
    </li>
    <li class="mb-2">
      Providing highly specialized clinical subject matter expertise
    </li>
  </ul>
</div>
