---
import Button from "../Button.astro";

---
<div class="bg-hero-image py-24 mb-20 flex flex-col">
    <h1
    class="uppercase text-white bg-gray-600 font-semibold text-4xl md:text-5xl mb-10 bg-opacity-70 drop-shadow mx-8 px-6 md:mx-16 md:px-8 lg:mx-24 py-8"
  >
  Foodicine Labs: Turning Nutritional Foods into Quick-Healing Solutions
  </h1>
  <div class=" mx-auto flex">
    <Button href="service" content="Services" />
    <Button href="about" content="Contact Us" />
  </div>
</div>
