---
import RoadMap from "./RoadMap.astro";
---

<div class="mx-14 md:mx-20 mb-24">
  <h2 class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-4">
    How do we do it?
  </h2>
  <p class="mb-12">Hover over land markers to see how do we do it.</p>
  <RoadMap />
</div>
