---

---

<div class="mb-12">
    <h2>Introduction</h2>
    <p>
        Foodicine, a portmanteau of food and medicine meaning food as medicine, 
        is a concept that refers to the idea that certain foods can have both nutritional and therapeutic benefits, 
        essentially acting as a form of medicine.
    </p>
    <p>
        The goal of Foodicine Labs is to find feasible and practical ways to use foodicine as a quick cure, 
        functioning as food based medicine or drug, 
        while currently many those foods are actually widely used as an approach for wellness maintenance. 
    </p>
    <p>
        Over the years, we have developed and practiced a few series of foodicines using smart food processing and formulation approaches. 
        To make them also quick cures for more people, we are commercializing some of the best solutions and products.
    </p>
</div>
