---
---

<div class="bg-hero-image w-screen py-24 mb-20">
  <h1
    class="uppercase font-semibold text-primary-1 text-4xl md:text-5xl mb-10 bg-opacity-70 bg-secondary-gray drop-shadow mx-8 px-6 md:mx-12 md:px-8 py-8"
  >
    Unlock your healthcare and life science investment potential
  </h1>
</div>
