---
---

<div class="relative p-0 md:p-6 max-w-2xl flex-2">
  <img src="/pie.svg" alt="pie chart" />
  <!-- Patient Experience -->
  <button
    data-popover-target="patient-experience"
    class="absolute text-primary-2 text-center top-[23%] left-[40%] text-sm md:text-xl lg:text-2xl w-12 md:w-24 lg:w-32 font-semibold"
    >Patient experience</button
  >
  <div
    data-popover
    id="patient-experience"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div
      class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
    >
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl">
        Patient and health need validation
      </h3>
    </div>
    <div class="px-3 py-2">
      <p>
        Assessing whether a product / service fulfills a true patient health
        need
      </p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- Better outcomes -->
  <button
    data-popover-target="better-outcomes"
    class="absolute text-primary-2 text-center top-[45%] right-[20%] text-sm md:text-xl lg:text-2xl w-12 md:w-24 lg:w-32 font-semibold"
    >Better outcomes</button
  >
  <div
    data-popover
    id="better-outcomes"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div
      class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
    >
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl">
        Data and scientific validation
      </h3>
    </div>
    <div class="px-3 py-2">
      <p>Determining scientific validity to give investors peace of mind</p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- Reduced Costs -->
  <button
    data-popover-target="reduced-costs"
    class="absolute text-cyan-100 text-center bottom-[23%] left-[40%] text-sm md:text-xl lg:text-2xl w-12 md:w-24 lg:w-32 font-semibold"
    >Reduced costs</button
  >
  <div
    data-popover
    id="reduced-costs"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div
      class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
    >
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl">
        Competitor analysis
      </h3>
    </div>
    <div class="px-3 py-2">
      <p>
        Identifying new untapped markets and opportunities to stay ahead of
        competitors
      </p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- Clinical Experience -->
  <button
    data-popover-target="clinical-experience"
    class="absolute text-secondary-blue-light text-center top-[45%] left-[20%] text-sm md:text-xl lg:text-2xl w-12 md:w-24 lg:w-32 font-semibold"
    >Clinical experience</button
  >
  <div
    data-popover
    id="clinical-experience"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div
      class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
    >
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl">
        User journey
      </h3>
    </div>
    <div class="px-3 py-2">
      <p>
        Mapping a patient / clinician journey map to identify and action upon
        unmet needs
      </p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- advancing health equity -->
  <button
    data-popover-target="clinical-experience"
    class="absolute text-primary-1 text-center bottom-[5%] left-[18%] md:bottom-[8%] md:left-[28%] text-sm md:text-base font-semibold h-12 min-w-24"
    ><span class="opacity-0">________________________________</span>
  </button>
</div>
