---
import ProblemCard from "../ProblemCard.astro";
import { Icon } from "astro-icon";
---

<div
  class="clip-bg mx-14 md:mx-20 mb-24 bg-primary-1 text-gray-50 px-4 pt-16 pb-20 flex flex-col"
>
  <h2
    class="uppercase font-semibold text-gray-50 text-3xl md:text-4xl mb-16 text-center"
  >
    Problem
  </h2>
  <div
    class="flex flex-col lg:flex-row justify-center items-center lg:items-stretch gap-20 lg:gap-8 my-12"
  >
    <ProblemCard
      icon="ion:rocket"
      title="Impact"
      content="9 out of 10 don't make it!"
    />
    <ProblemCard
      icon="fluent:globe-search-24-regular"
      title="Misunderstanding of Healthcare Market"
      content="40% of startups fail due to not understanding the market"
    />
    <ProblemCard
      icon="uil:money-bill-slash"
      title="Wasted Resources"
      content="$800 million invested"
    />
  </div>
  <p class="text-gray-50 ml-6">
    To make the right investment decisions with healthcare and life sciences
    companies, more specific due diligence is required.
  </p>
</div>
