---
import ProblemCard from "../ProblemCard.astro";
---

<div class="clip-bg mx-14 md:mx-20 mb-20 bg-primary-1 text-gray-50 px-12 py-16">
  <h2
    class="uppercase font-semibold text-gray-50 text-3xl md:text-4xl mb-6 text-center"
  >
    Problem
  </h2>
  <div class="flex content-center gap-10 my-12">
    <ProblemCard />
    <ProblemCard />
    <ProblemCard />
  </div>
</div>
