---
---

<div class="relative p-0 md:p-6 max-w-3xl">
  <img src="road.svg" alt="the roadmap of the Solution" />
  <!-- initial-evaluation -->
  <button
    data-popover-target="initial-evaluation"
    class="absolute h-20 w-20 bottom-[25%] left-[8%]"></button>
  <div
    data-popover
    id="initial-evaluation"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div class="px-3 py-2">
      <p>
        Initial evaluation of the pitch deck, business model, and outcome
        studies
      </p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- roadmap -->
  <button
    data-popover-target="roadmap"
    class="absolute h-20 w-20 top-[10%] left-[24%]"></button>
  <div
    data-popover
    id="roadmap"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div class="px-3 py-2">
      <p>Creating a roadmap based on the specific needs of each client</p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- engagement -->
  <button
    data-popover-target="engagement"
    class="absolute h-20 w-20 top-[41%] left-[50%]"></button>
  <div
    data-popover
    id="engagement"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div class="px-3 py-2">
      <p>End-user engagement</p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- conducting -->
  <button
    data-popover-target="conducting"
    class="absolute h-20 w-20 top-[14%] right-[8%]"></button>
  <div
    data-popover
    id="conducting"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div class="px-3 py-2">
      <p>Conducting thorough assessments based on quintuple aim</p>
    </div>
    <div data-popper-arrow></div>
  </div>
  <!-- flag -->
  <button
    data-popover-target="flag"
    class="absolute h-20 w-20 bottom-[10%] right-[5%] md:bottom-[12%] md:right-[13%]"
  >
    <img src="red-flag.svg" alt="red flag" />
  </button>
  <div
    data-popover
    id="flag"
    role="tooltip"
    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
  >
    <div class="px-3 py-2">
      <p>Deliver the final report and recommendation</p>
    </div>
    <div data-popper-arrow></div>
  </div>
</div>
