---
import Pie from "./Pie.astro";
---

<div
  class="mx-14 md:mx-20 mb-24 flex flex-col lg:flex-row-reverse lg:items-center gap-4 lg:gap-12"
>
  <div class="flex-1 max-w-lg">
    <h2
      class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-6"
    >
      Solution
    </h2>
    <p class="mb-12">
      We provide highly comprehensive reports and recommendations based on the
      Quintuple Aim framework, which are the ingredients necessary to support
      high-quality health care.
    </p>
  </div>

  <Pie />
</div>
