---
---

<div class="mx-14 md:mx-20 mb-24">
  <h2 class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-6">
    What We Do
  </h2>
  <p>
    INNOVO uniquely specializes in health-related due diligence on early-stage
    healthcare and life science companies for venture capital firms and angel
    investors to maximize return on investment.
  </p>
</div>
