---
---

<div class="mx-14 md:mx-20 mb-20">
  <h2 class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-6">
    why choose us
  </h2>
  <p>
    The reality is 9 out of 10 start-ups do not make it <a
      target="_blank"
      href="https://www.failory.com/blog/startup-failure-rate"
      data-popover-target="popover-fail"
      class="font-bold text-red-700 cursor-pointer">*</a
    >.
    <div
      data-popover
      id="popover-fail"
      role="tooltip"
      class="absolute z-10 invisible inline-block w-96 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
    >
      <div
        class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
      >
        <a
          target="_blank"
          href="https://www.failory.com/blog/startup-failure-rate"
          class="font-semibold text-gray-900 dark:text-white"
        >
          Startup Failure Rate: How Many Startups Fail and Why in 2023?
        </a>
      </div>
      <div class="px-3 py-2">
        <img src="/fail.png" alt="why company fails" />
      </div>
      <div data-popper-arrow></div>
    </div>
  </p>
  <br />
  <p>
    Although there are many reasons for this, data suggests within the
    healthcare and life science field that over $800 million has been invested
    into companies that simply misunderstood how they would fit within the
    existing healthcare system.
  </p>
  <br />
  <p>
    Investing in an emerging health-related technology requires not just an
    understanding of the business, but how the technology would fit within the
    complexity of a healthcare system (i.e., Do patients truly desire it? Does
    the data support the technology? How would patients access it?).
  </p>
  <br />
  <p>
    To make the right investment decision with healthcare and life sciences
    companies, more specific due diligence is required.
  </p>
</div>
