---
import MemberCard from "./MemberCard.astro";
---

<section class="mx-14 md:mx-20 mb-24">
  <div class="">
    <h2
      class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-12"
    >
      Our Team
    </h2>
    <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
      Meet our team member!
    </p>
  </div>
  <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
    <MemberCard
      name="Sally Moy"
      experience={[
        "6+ years of applied research and consulting",
        "Designed and implemented strategic healthcare innovation projects",
      ]}
      image="sally.png"
    />
    <MemberCard
      name="Alireza Aleyasin"
      experience={[
        "7+ years of research and clinical experience",
        "Entrepreneur and Co-founder of AstraBionics healthcare start-up",
      ]}
      image="alireza.png"
    />
    <MemberCard
      name="Evan Foster"
      experience={[
        "6+ years of biomedical science and clinical research",
        "Designed and implemented hospital-based projects",
      ]}
      image="evan.png"
    />
    <MemberCard
      name="Oscar Palacio "
      experience={[
        "4+ years of quality improvement and clinical research projects",
        "Data management assistant for innovation hubs",
      ]}
      image="oscar.png"
    />
  </div>
</section>
